html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #E07A5F;
}
h3 {
  font-family: 'Catamaran', sans-serif;
  color: #F4F1DE;
  font-weight: 800;
  font-size: 20px;
}

.pagewrap {
	height: 100%;

}

.header {
  width: 74%;
  height: 100px;
  color: #F4F1DE;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
  line-height: 120px;
}

.board {
  width: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.boardunder {
	display: none;
}

.replay {
  width: 33.33%;
  text-align: center;
  cursor: pointer;
}

.memory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
  margin: 0 auto;

}
.memory-container div {
	width: 9vw;
	height: 9vw;
	margin: 1.1vw;
  border-radius: 100%;
  border: 5px solid #F4F1DE;
  cursor: pointer;

}
.back {
  background: url('images/baksida.jpg');
  color: rgba(0,0,0,0);
}



/*MEDIA QUERIES*/

@media screen and (max-width: 420px) {
	.memory-container div{
		width: 17vw;
		height: 17vw;
		margin: 2vw;
		border: 3px solid #F4F1DE;

	}
	.memory-container {
		width: 90%;
		justify-content: center;
	}
	.header {
		font-size: 38px;
	}

	.board {
		display: none;
	}
	.boardunder {
		display: flex;
		justify-content: center;
	}
}
