html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #E07A5F;
}
.header {
  width: 540px;
  height: 120px;
  color: #F4F1DE;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 100px;
  margin: 20px auto;
  text-align: center;
  line-height: 120px;
}
.memory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 910px;
  margin: 0 auto;

}
.memory-container div {
  width: 190px;
  height: 190px;
  margin-bottom: 50px;
  border-radius: 100%;
  border: 5px solid #F4F1DE;

}
.back {
  background: url('images/baksida.jpg');
  color: rgba(0,0,0,0);
}
