html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #E07A5F;
}
h3 {
  font-family: 'Catamaran', sans-serif;
  color: #F4F1DE;
  font-weight: 800;
  font-size: 20px;
}

.header {
  width: 74%;
  height: 100px;
  color: #F4F1DE;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 90px;
  margin: 20px auto 0;
  text-align: center;
  line-height: 120px;
}

.board {
  width: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.replay {
  width: 33.33%;
  text-align: center;
  cursor: pointer;
}


.memory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
  margin: 0 auto;

}
.memory-container div {
	width: 9vw;
	height: 9vw;
	margin: 1.1vw;
  border-radius: 100%;
  border: 5px solid #F4F1DE;
  cursor: pointer;

}
.back {
  background: url('images/baksida.jpg');
  color: rgba(0,0,0,0);
}



/*MEDIA QUERIES*/
@media only screen and (min-width: 725px) {

}
